.carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productosCont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.cartContainer {
    box-shadow: #000 0 0 15px 1px;
    border-radius: .5rem;
    text-align: center;
    cursor: pointer;
}
.cartContainer:hover {
    transform: scale(1.02);
}
.cartContainer img {
    width: 10rem;
}
.vaciar {
    font-size: 1rem;
    padding: .5rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}
.removeItems {
    padding: 1rem;
}
.removeItems .contenedorContador{
    background-color: #fff;
}
.vaciar, .inicio, .botones input, .btnBorrar, .comprar {
    padding: .7rem;
    background-color: transparent;
    border:solid .15rem #553a2b;
    border-radius: .3rem;
    width: 50%;
    color: #553a2b;
    font-size: 1rem;
    transition: background-color .2s, color .2s;
    cursor: pointer;
}
.vaciar, .inicioBtn {
    margin: 1rem 0;
}
.vaciar:hover, .inicio:hover, .botones input:hover, .btnBorrar:hover, .comprar:hover {
    background-color: #553a2b;
    color: #fff;
}
.comprar {
    width: 100%;
}
.inicioBtn {
    display: flex;
    width: 100%;
    justify-content: center;
}
.btnBorrar {
    width: 100%;
    margin-top: .5rem;
}