.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: .5rem;
    padding-bottom: 5rem;
}
.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: .3rem;
    transition: transform .2s;
    background-color: #fff;
    box-shadow: #666 0 0 6px 0;
    width: 20rem;
}
.producto:hover {
    transform: scale(1.02);
}
.imgCont {
    height: 10rem;
    width: 100%;
    margin: auto;
}
.producto img {
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    object-position: center;
}
.btn {
    width: 100%;
    cursor: pointer;
}
.btnDetalles {
    height: 2.5rem;
    background-color: #ba8469;
    border: none;
    color: #fff;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    font-size: .95rem;
    padding: .35rem;
    transition: background-color .2s;
}
.btnDetalles:hover {
    background-color: #dca68b;
}

@media (max-width: 690px) {
    .producto {
        width: 12rem;
        height: 27rem;
    }
    .imgCont {
        height: 5rem;
    }
}
@media (max-width: 609px) {
    .producto {
        width: 15rem;
    }
    .imgCont {
        height: 7rem;
    }
}
@media (max-width: 510px) {
    .producto {
        width: 12rem;
    }
    .imgCont {
        height: 5rem;
    }
}
@media (max-width: 411px) {
    .producto {
        width: 10rem;
    }
}
@media (max-width: 343px) {
    .producto {
        width: 17rem;
    }
    .imgCont {
        height: 8rem;
    }
}