.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    margin: .5rem;
}
.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: solid #888 .12rem;
    border-radius: .3rem;
    transition: transform .2s;
    background-color: #fff;
    box-shadow: #666 0 0 6px 0;
}
.producto:hover {
    transform: scale(1.02);
}
.producto__informacion {
    padding: .3rem;
}
.imgCont {
    height: 10rem;
    width: 20rem;
    margin: auto;
}
.producto img {
    min-width: 8rem;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
    object-position: center;
}
.btn {
    width: 100%;
    cursor: pointer;
}
.btnDetalles {
    height: 2.5rem;
    background-color: #875;
    border: none;
    color: #fff;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    font-size: .95rem;
    padding: .35rem;
    transition: background-color .2s;
}
.btnDetalles:hover {
    background-color: #986;
}

@media (max-width: 695px) {
    .imgCont {
        width: min-content;
    }
}
@media (max-width: 358px) {
    .imgCont {
        width: 18rem;
    }
}