.header__nav-h1, .header__nav-h1 span, .header__nav-h1 a{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 2.25rem;
    transition: transform .2s;
}
.header__nav-h1 span {
    font-weight: 400;
}
.header__nav-h1:hover {
    transform: scale(1.1);
}
.header {
    background-image: url(../../assets/images/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header__nav-cartul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20rem;
    background-color: #0005;
    backdrop-filter: blur(.15rem);
    padding: 0 2rem;
}
.header__nav-ul {
    display: flex;
    gap: .5rem;
}
.header__nav-ul a {
    color: #fff;
    padding: .7rem;
    border-radius: .1rem;
    transition: background-color .2s, color .2s;
}
.header__nav-ul a:hover {
    background-color: #fff7;
    color: #000;
}