/* Fuentes
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
Fuentes */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #efd3bb;
}
body::-webkit-scrollbar {
    width: .6rem;
    
}
/* #ba8469 */
body::-webkit-scrollbar-thumb {
    background-color: #dca67b;
    border-radius: .5rem;
}