.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
    width: 100%;
    border-radius: .5rem;
    padding: 1rem;
    background-color: #fff;
}
.nombre {
    color: #555;
    text-align: left;
    width: 100%;
    margin: 0;
}
.contenedorContador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid #ddd .15rem;
    margin: auto;
    width: 100%;
    border-radius: .3rem;
    height: 2.5rem;
}
.contenedorContador button {
    background-color: transparent;
    border: none;
    font-size: 2.75rem;
    cursor: pointer;
    padding: 0 .5rem;
    color: #553a2b;
    transition: color .2s;
}
.contenedorContador button:hover {
    color: #44291a;
}
.agregar {
    padding: .7rem;
    background-color: transparent;
    border:solid .15rem #553a2b;
    border-radius: .3rem;
    width: 100%;
    color: #553a2b;
    font-size: 1rem;
    transition: background-color .2s, color .2s;
}
.agregar:hover {
    color: #fff;
    background-color: #553a2b;
}
@media (max-width: 411px) {
    .contenedor {
        padding: .5;
    }
}
@media (max-width: 343px) {
    .contenedor {
        padding: 1rem;
    }
}