.contenedor {
    border: solid #ddd .15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
    width: 100%;
    border-radius: .5rem;
    margin: auto;
    box-shadow: #777 1px 1px 15px 1px;
    padding: 2rem;
}
.nombre {
    color: #555;
    text-align: left;
    width: 100%;
    margin: 0;
}
.contenedorContador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid #ddd .15rem;
    margin: auto;
    width: 100%;
    border-radius: .3rem;
    height: 2.5rem;
}
.contenedorContador button {
    background-color: transparent;
    border: none;
    font-size: 2.75rem;
    cursor: pointer;
    padding: 0 .5rem;
    color: #875;
    transition: color .2s;
}
.contenedorContador button:hover {
    color: #764;
}
.agregar {
    padding: .7rem;
    background-color: transparent;
    border:solid .15rem #875;
    border-radius: .3rem;
    width: 100%;
    color: #875;
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: background-color .2s, color .2s;
}
.agregar:hover {
    color: #fff;
    background-color: #875;
}